::-webkit-scrollbar{
  width: 11px;
  background: #dbe8ec;
}
::-webkit-scrollbar-button{
  width:8px;
  height: 5px;
}
::-webkit-scrollbar-track{
  background:#1F1F1F;
  border:thin solid #1a1f25;
  -webkit-box-shadow: inset black;
  -webkit-border-radius: 10px;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb{
  background: #298280;
  border-radius: 10px;
  -webkit-border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover{
    background: #2F9290;
	transition: all 1s ease;
}
/* Pseudo-clase */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(77,161,112,.6);
}


body{
	background-attachment: fixed;
	background-image: url("../images/2254.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	color: white;
	font-family:din;
	p{
		font-size: 20px;
	}
	h1{
		font-size: 160px;

	}
	h2{
		font-weight: 700;
		font-size: 50px;
		font-family:din;
		letter-spacing: 5px;
		text-transform:$mayusculas;
	}
	h3{
		font-size: 35px;
		font-weight:600
	}
}
@font-face{
	font-family: peaches;
	src: url(../fonts/Peaches/Peaches.ttf);
}
@font-face{
	font-family: archivo;
	src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
}
@font-face{
	font-family: din;
	src: url(../fonts/Din/ufonts.com_din-light.ttf);
}