::-webkit-scrollbar {
  width: 11px;
  background: #dbe8ec; }

::-webkit-scrollbar-button {
  width: 8px;
  height: 5px; }

::-webkit-scrollbar-track {
  background: #1F1F1F;
  border: thin solid #1a1f25;
  -webkit-box-shadow: inset black;
  -webkit-border-radius: 10px;
  border-radius: 12px; }

::-webkit-scrollbar-thumb {
  background: #298280;
  border-radius: 10px;
  -webkit-border-radius: 12px; }

::-webkit-scrollbar-thumb:hover {
  background: #2F9290;
  transition: all 1s ease; }

/* Pseudo-clase */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(77, 161, 112, 0.6); }

body {
  background-attachment: fixed;
  background-image: url("../images/2254.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: din; }
  body p {
    font-size: 20px; }
  body h1 {
    font-size: 160px; }
  body h2 {
    font-weight: 700;
    font-size: 50px;
    font-family: din;
    letter-spacing: 5px;
    text-transform: uppercase; }
  body h3 {
    font-size: 35px;
    font-weight: 600; }

@font-face {
  font-family: peaches;
  src: url(../fonts/Peaches/Peaches.ttf); }
@font-face {
  font-family: archivo;
  src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf); }
@font-face {
  font-family: din;
  src: url(../fonts/Din/ufonts.com_din-light.ttf); }
.scroll-back {
  position: fixed;
  padding: 35px;
  top: 0;
  background: #37C4C1;
  transition: all 0.7s ease;
  z-index: 2; }

.animacionHeader1 {
  transform: scaleX(50); }

.animacionHeader2 {
  transform: scaleX(1); }

header {
  padding: 10px 0;
  transform: translateZ(0);
  transition-property: color;
  transition-duration: 0.5s; }
  header .container {
    padding-right: 37px;
    padding-left: 80px; }
  header .navbar-toggle span {
    background: white; }
  header .navbar-brand {
    color: #37C4C1;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: archivo;
    font-size: 22px; }
  header li a {
    font-weight: 600;
    color: white;
    margin: 0 15px;
    text-transform: uppercase;
    font-family: din;
    font-size: 17px; }
  header .color1 {
    color: #37C471; }
  header .color2 {
    color: #37C4C1; }
  header .color3 {
    color: #D16F89; }
  header .hover-inicial {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    backface-visibility: hidden;
    position: relative;
    overflow: hidden; }
    header .hover-inicial:hover {
      color: #37C4C1; }
    header .hover-inicial:before {
      color: #37C4C1 !important;
      content: "";
      position: absolute;
      z-index: -1;
      left: 50%;
      right: 50%;
      bottom: 0;
      background: #37C4C1;
      height: 4px;
      transition-property: left, right;
      transition-duration: 0.5s;
      transition-timing-function: ease-out; }
  header .hover-inicial:hover:before, header .hover-inicial:focus:before, header .hover-inicial:active:before {
    left: 0;
    right: 0; }
  header .hover-scroll {
    color: black;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    backface-visibility: hidden;
    position: relative;
    overflow: hidden; }
    header .hover-scroll:before {
      color: black !important;
      content: "";
      position: absolute;
      z-index: -1;
      left: 50%;
      right: 50%;
      bottom: 0;
      background: black;
      height: 4px;
      transition-property: left, right;
      transition-duration: 0.5s;
      transition-timing-function: ease-out; }
  header .hover-scroll:hover:before, header .hover-scroll:focus:before, header .hover-scroll:active:before {
    left: 0;
    right: 0;
    color: black !important; }
  header .nav-hover-scroll {
    color: black !important;
    transition: all 0.7s ease; }

.banner {
  padding: 87px 0; }
  .banner .container {
    padding: 0 5%; }
  .banner .yo {
    padding-top: 289px; }
    .banner .yo .logo {
      z-index: 2;
      position: fixed;
      left: 17%;
      top: 30%;
      transition: all 0.6s ease;
      display: inline-block;
      font-family: peaches; }
    .banner .yo .transicionLogo {
      transition: all 1s ease;
      transform: scale(0.5);
      color: black; }
    .banner .yo p {
      color: #989696;
      font-family: din;
      text-transform: uppercase;
      font-size: 20px; }
  .banner .muestra {
    padding-top: 15px; }
    .banner .muestra .tarjeta {
      padding: 0;
      position: relative;
      text-align: left;
      transition: all 0.7s ease;
      color: white; }
      .banner .muestra .tarjeta img {
        border: 5px solid transparent;
        transition: all 0.7s ease; }
      .banner .muestra .tarjeta span {
        word-break: break-word;
        position: absolute;
        font-family: din;
        text-transform: uppercase;
        font-size: 20px;
        left: 5%;
        bottom: 10%;
        width: 0%;
        border-bottom: 2px solid white;
        transition: all 0.7s ease;
        color: transparent; }
      .banner .muestra .tarjeta:hover {
        transition: all 1s ease;
        text-decoration: none; }
        .banner .muestra .tarjeta:hover img {
          -webkit-filter: brightness(0.3);
          transition: all 1s ease; }
        .banner .muestra .tarjeta:hover span {
          display: block;
          color: white;
          transition: all 2s ease;
          z-index: 10000;
          width: 90%; }

.acerca {
  transition: all 0.6s ease;
  background: linear-gradient(to bottom, transparent 1%, black 16%, black 27%, black 38%, black 45%, black 52%, black 55%, #050101 88%);
  padding: 75px 0px; }
  .acerca .encabezado {
    width: 90%;
    margin: 100px auto;
    padding: 0 55px; }
    .acerca .encabezado h2 {
      color: white;
      text-transform: uppercase; }
    .acerca .encabezado .rayaContainer {
      margin-top: 35px; }
      .acerca .encabezado .rayaContainer .raya1 {
        width: 100%;
        transition: all 0.6s ease;
        transform-origin: right top;
        padding: 3px;
        background: #37C4C1;
        margin: 4px 0; }
      .acerca .encabezado .rayaContainer .raya2 {
        width: 100%;
        transition: all 0.6s ease;
        transform-origin: right top;
        padding: 1px;
        background: #37C4C1; }
  .acerca img {
    transition: all 0.6s ease;
    height: 220px;
    -webkit-filter: sepia(8%);
    border-radius: 155px;
    border: 7px solid white;
    margin: auto; }
  .acerca h3 {
    transition: all 0.6s ease;
    font-size: 35px;
    margin: 45px; }
  .acerca p {
    transition: all 0.6s ease;
    display: inline-block;
    padding: 0 29%; }

.skills {
  background: black;
  padding: 40px 0; }
  .skills .encabezado {
    width: 90%;
    margin: 100px auto;
    padding: 0 55px; }
    .skills .encabezado h2 {
      color: white;
      text-transform: uppercase; }
    .skills .encabezado .rayaContainer {
      margin-top: 35px; }
      .skills .encabezado .rayaContainer .raya1 {
        width: 100%;
        transition: all 0.6s ease;
        transform-origin: left top;
        padding: 3px;
        background: #37C471;
        margin: 4px 0; }
      .skills .encabezado .rayaContainer .raya2 {
        width: 100%;
        transition: all 0.6s ease;
        transform-origin: left top;
        padding: 1px;
        background: #37C471; }
  .skills .items {
    padding: 10% 10%; }
  .skills .load-cont {
    padding-top: 35px;
    margin: 10px 0;
    position: relative; }
    .skills .load-cont img {
      height: 85px;
      position: relative;
      z-index: 1; }
    .skills .load-cont .background p {
      font-size: 40px;
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-top: 21%;
      margin-left: 8%; }
      .skills .load-cont .background p span {
        border-radius: 5px;
        padding: 2px;
        animation: cursor 0.4s infinite alternate; }
@keyframes cursor {
  from {
    background: transparent; }
  to {
    background: black; } }
    .skills .load-cont .background {
      transition: all 0.6s ease;
      position: absolute;
      bottom: 0;
      /* left: 0; */
      /* right: 0; */
      height: 0;
      width: 95%; }
  .skills .html .background {
    background: #5E58CF; }
  .skills .css .background {
    background: #C437A4; }
  .skills .js .background {
    background: #D87F01; }
  .skills .jade .background {
    background: #37C471; }
  .skills .sass .background {
    background: #D16F89; }
  .skills .wordpress .background {
    background: #37C4C1; }

.portafolio {
  position: relative;
  background: black;
  padding: 0 0 150px; }
  .portafolio .encabezado {
    width: 90%;
    margin: 100px auto;
    padding: 0 55px; }
    .portafolio .encabezado h2 {
      color: white;
      text-transform: uppercase; }
    .portafolio .encabezado .rayaContainer1 {
      margin-top: 35px; }
      .portafolio .encabezado .rayaContainer1 .raya1 {
        width: 100%;
        transition: all 0.8s ease;
        transform-origin: right top;
        padding: 3px;
        background: #D87F01;
        margin: 4px 0; }
      .portafolio .encabezado .rayaContainer1 .raya2 {
        width: 100%;
        transition: all 0.8s ease;
        transform-origin: right top;
        padding: 1px;
        background: #D87F01; }
    .portafolio .encabezado .rayaContainer {
      margin-top: 35px; }
      .portafolio .encabezado .rayaContainer .raya1 {
        width: 100%;
        transition: all 0.8s ease;
        transform-origin: left top;
        padding: 3px;
        background: #D87F01;
        margin: 4px 0; }
      .portafolio .encabezado .rayaContainer .raya2 {
        width: 100%;
        transition: all 0.8s ease;
        transform-origin: left top;
        padding: 1px;
        background: #D87F01; }
  .portafolio p {
    display: inline-block;
    padding: 0 185px;
    margin-bottom: 55px; }
  .portafolio .desktop {
    overflow: auto;
    width: 1009.500px;
    height: 559.5px;
    border: 30px solid #244A61;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin: auto;
    position: relative; }
  .portafolio .parante {
    max-width: 250px;
    height: 0px;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: 45px solid #ADACB2;
    margin: auto; }
  .portafolio .direccionl, .portafolio .direccionr {
    font-size: 44px;
    border: 3px solid #37C4C1;
    padding: 0px 10px 0px 10px;
    width: 66px;
    display: inline-block;
    border-radius: 42px;
    color: #37C4C1;
    position: absolute; }
  .portafolio .direccionl {
    top: 56%;
    left: 3%; }
  .portafolio .direccionr {
    top: 56%;
    right: 3%; }

.franjaInsp {
  background-image: url("../images/code.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }
  .franjaInsp .transaparencia {
    padding: 24px 13%;
    background: rgba(0, 0, 0, 0.3); }
    .franjaInsp .transaparencia .text-left {
      font-size: 45px;
      font-weight: 700; }
    .franjaInsp .transaparencia .text-right {
      font-weight: 700;
      font-size: 23px; }

.contacto {
  padding-bottom: 100px;
  background: black; }
  .contacto .encabezado {
    width: 90%;
    margin: 100px auto;
    padding: 0 55px; }
    .contacto .encabezado h2 {
      color: white;
      text-transform: uppercase; }
    .contacto .encabezado .rayaContainer {
      margin-top: 35px; }
      .contacto .encabezado .rayaContainer .raya1 {
        width: 100%;
        transition: all 0.6s ease;
        transform-origin: left top;
        padding: 3px;
        background: black;
        margin: 4px 0; }
      .contacto .encabezado .rayaContainer .raya2 {
        width: 100%;
        transition: all 0.6s ease;
        transform-origin: left top;
        padding: 1px;
        background: black; }
  .contacto h2 {
    color: #37C4C1 !important; }
  .contacto a {
    color: #37C4C1;
    font-size: 90px; }

footer {
  background: #37C4C1;
  color: black;
  font-weight: bold;
  padding: 30px; }
  footer p {
    margin: 0; }

.banner .logo1 {
  transform: scale(1);
  top: 30%;
  left: 17%;
  z-index: 2;
  position: fixed;
  transition: all 0.6s ease;
  display: inline-block;
  font-family: peaches; }
.banner .logo2 {
  transform: scale(0.9);
  top: 24%;
  left: 17%;
  z-index: 2;
  position: fixed;
  transition: all 0.6s ease;
  display: inline-block;
  font-family: peaches; }
.banner .logo3 {
  transform: scale(0.8);
  top: 18%;
  left: 17%;
  z-index: 2;
  position: fixed;
  transition: all 0.6s ease;
  display: inline-block;
  font-family: peaches; }
.banner .logo4 {
  transform: scale(0.7);
  top: 12%;
  left: 17%;
  z-index: 2;
  position: fixed;
  transition: all 0.6s ease;
  display: inline-block;
  font-family: peaches; }
.banner .logo5 {
  transform: scale(0.6);
  top: 6%;
  left: 17%;
  z-index: 2;
  position: fixed;
  transition: all 0.6s ease;
  display: inline-block;
  font-family: peaches; }
.banner .logo6 {
  transform: scale(0.5);
  top: 0%;
  left: 17%;
  z-index: 2;
  position: fixed;
  transition: all 0.6s ease;
  display: inline-block;
  font-family: peaches; }
.banner .logo7 {
  transform: scale(0.4);
  top: -11.5%;
  left: 10%;
  z-index: 2;
  position: fixed;
  transition: all 0.6s ease;
  display: inline-block;
  font-family: peaches; }

@media (max-width: 768px) {
  header .container {
    padding-right: 0 !important;
    padding-left: 0 !important; }

  header .navbar-brand {
    display: none; }
  header .hover-scroll {
    background: #37C4C1; }
    header .hover-scroll:hover {
      background: #37C4C1 !important; }

  .banner .yo .logo, .banner .yo .logo1, .banner .yo .logo2, .banner .yo .logo3, .banner .yo .logo4, .banner .yo .logo5, .banner .yo .logo6, .banner .yo .logo7 {
    left: 26%; }
  .banner .yo .logo7 {
    transform: scale(0.4);
    top: -12.5%; } }
@media (max-width: 480px) {
  header .navbar-brand {
    margin-left: 20%; }

  .banner .yo {
    padding-top: 255px; }
    .banner .yo .logo, .banner .yo .logo1, .banner .yo .logo2, .banner .yo .logo3, .banner .yo .logo4, .banner .yo .logo5, .banner .yo .logo6, .banner .yo .logo7 {
      left: 13%;
      font-size: 123px; }
    .banner .yo .logo7 {
      transform: scale(0.4);
      top: -8.5%; }

  .acerca .encabezado {
    margin: auto;
    padding: 0; } }

/*# sourceMappingURL=style.css.map */
