.scroll-back{
	position: fixed;
	padding: 35px;
	top:0;
	background:$celeste;
	transition: all 0.7s ease;
	z-index: 2;
}
.animacionHeader1{
	transform: scaleX(50);
}
.animacionHeader2{
	transform: scaleX(1);
}
header{
	padding: 10px 0;
	transform: translateZ(0);
	transition-property: color;
	transition-duration: 0.5s;
	.container{
		padding-right: 37px;
		padding-left: 80px;
	}	
	.navbar-toggle{
		span{
			background: white;
		}
	}
	.navbar-brand{
		color:$celeste;
		text-transform: $mayusculas;
		letter-spacing: 5px;
		font-family: archivo;
		font-size: 22px;
	}
	li{
		a{
			font-weight: 600;
			color: white;
			margin:0 15px;
			text-transform: $mayusculas;
			font-family: din;
			font-size: 17px;
		}
	}
	@include hoverInicial($celeste);
	@include hoverScroll(black);
}
.banner{
	padding: 87px 0;
	.container{
		padding: 0 5%;
	}

	.yo{
		padding-top: 289px;
		.logo{
			z-index: 2;
			position: fixed;
			left: 17%;
			top: 30%;
			transition: all 0.6s ease;
			display: inline-block;
			font-family: peaches;
		}
		.transicionLogo{
			transition: all 1s ease;
			transform: scale(0.5);
			color:black;

		}
		p{
			color:#989696;
			font-family: din;
			text-transform: $mayusculas;
			font-size: 20px;
		}
	}
	.muestra{
		padding-top: 15px;
		@include tarjetainversa;
	}
    
   
}