doctype html
html(lang="es")
	head
		meta(http-equiv="Content-Type" content="text/html" charset="utf-8")
		meta(name="viewport" content="width=device-width" initial-scale="1.0")
		title P o r t a f o l i o
		link(rel="shortcut icon" type="image/x-icon" href="favicon.JPG")
		link(rel="stylesheet" type="text/css" href="css/plugins/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet" href="css/style.css")
		link(rel="stylesheet" href="css/hover.css")
	
	body
		.scroll-back
		header.navbar.navbar-fixed-top
			.container
				.row
					.navbar-header
						button(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false").navbar-toggle.collapsed
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						.navbar-brand Portafolio
					#bs-example-navbar-collapse-1.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li
								a.hover-inicial(href="#hola") HOLA
							li
								a.hover-inicial(href="#conoceme") CONÓCEME
							li
								a.hover-inicial(href="#skills") MIS SKILLS

							li
								a.hover-inicial(href="#portafolio") MI PORTAFOLIO
							
							li 
								a.hover-inicial(href="#contactame") CONTACTAME
		a(name="hola")
		section.banner.text-center
			.container
				.row
					.col-xs-12.col-md-6.yo
						h1.logo#logo Johelyn
						p Front-end Developer
					.hidden-xs.col-md-6.muestra
						a(href="#portafolio").col-md-12.tarjeta
							span Coder
							img(src="images/code.png", alt="editor de texto").img-responsive
						a(href="#otros").col-md-5.tarjeta
							span Escritora Amateur
							img(src="images/paginalibro.jpg", alt="pagina de libro escrito").img-responsive
						a(href="#otros").col-md-7.tarjeta
							span Amante del dibujo
							img(src="images/dibujo1.jpg", alt="dibujo de johelyn").img-responsive
			
		a(name="conoceme")
		section.acerca
			.container.text-center
				.row
					.encabezado.clearfix
						.col-md-7.rayaContainer
							.raya1
							.raya2
						h2.col-xs-12.col-md-5 Conóceme
					
					img#yo(src="images/joe.jpeg").img-responsive

					H3 20 palabras acerca de mi

					p Soy una joven Front-End Developer muy talentosa, y con un gran deseo de dejar su huella en el mundo.

		a(name="skills")
		section.skills
			.container
				.row
					.encabezado
						h2.col-md-5 mis skills
						.col-md-7.rayaContainer
							.raya1
							.raya2

				.items.clearfix
					.col-md-4.load-cont.html
						img(src="images/html.svg").pull-right
						.background
							p 80%
								span
					.col-md-4.load-cont.css
						img(src="images/css.svg").pull-right
						.background
							p 75%
								span
					.col-md-4.load-cont.js
						img(src="images/js.svg").pull-right
						.background
							p 40%
								span
					.col-md-4.load-cont.jade
						img(src="images/jade.png").pull-right
						.background
							p 30%
								span
					.col-md-4.load-cont.sass
						img(src="images/sass.png").pull-right
						.background
							p 40%
								span
					.col-md-4.load-cont.wordpress
						img(src="images/wordpress.png").pull-right
						.background
							p 20%
								span
		a(name="portafolio")		
		section.portafolio
			.container
				.row.text-center
					.encabezado.clearfix
						.col-md-3.rayaContainer1
							.raya1
							.raya2
						h2.col-md-6.text-center portafolio
						.col-md-3.rayaContainer
							.raya1
							.raya2
					p Esta es una pequeña muestra de mis trabajos en imagenes, si deseas ver mas detalles puedes dar click en la que te guste.
					.desktop.img-responsive.fader#Fader
						a(target="_blank" href="http://akumajinn.github.io/Grid-system-boostrap/")
							img(src="images/gridsystem.png").img-responsive
					.parante
					a(href="#").direccionl
						i.fa.fa-arrow-left
					
					a(href="#").direccionr
						i.fa.fa-arrow-right
					
					
		section.franjaInsp
			.transaparencia
				p.text-left "Las cosas tienen vida propia, solo es cuestión de despertarles el ánima."
				p.text-right Gabriel García Márquez. (Cien años de Soledad)
		
		a(name="contactame")
		section.contacto
			.container
				.row
					.encabezado.clearfix
						h2.col-md-5 Contactame!
						.col-md-7.rayaContainer
							.raya1
				
					.col-xs-3.text-center
						a(href="#" target="_blank")
							i.fa.fa-envelope-o
					.col-xs-3.text-center
						a(href="#" target="_blank")
							i.fa.fa-linkedin
					.col-xs-3.text-center
						a(href="#" target="_blank")
							i.fa.fa-github
					.col-xs-3.text-center
						a(href="#" target="_blank")
							i.fa.fa-phone


		
		script(src="js/jquery.js")
		script(src="js/bootstrap.min.js")
		script(src="js/main.js")
		